<div class="main-wrapper">
  <div class="banner">
    <div class="slogan">
      
    </div>
  </div>
  <div class="hot-offers">
    <div class="head">
      <div class="line">
        <hr class="hr">
      </div>
      <div class="title">
        <h2>Latest Articles</h2>
      </div>
      <div class="line">
        <hr class="hr">
      </div>
    </div>
    <div class="offers">
      <div class="product">
        <div class="wrapper">
          <img src="../../../assets/images/Audio analogique.jpg">
        </div>
        <div class="sub-title">Categorie Name</div>
        <div class="price">Product Name</div>
        <button>Rent NOW</button>
      </div>
      <div class="product">
        <div class="wrapper">
          <img src="../../../assets/images/BD, Manga.jpg">
        </div>
        <div class="sub-title">Categorie Name</div>
        <div class="price">Product Name</div>
        <button>Rent NOW</button>
      </div>
      <div class="product">
        <div class="wrapper">
          <img src="../../../assets/images/Caméra HD.jpg">
        </div>
        <div class="sub-title">Categorie Name</div>
        <div class="price">Product Name</div>
        <button>Rent NOW</button>
      </div>
      <div class="product">
        <div class="wrapper">
          <img src="../../../assets/images/Chariot.jpg">
        </div>
        <div class="sub-title">Categorie Name</div>
        <div class="price">Product Name</div>
        <button>Rent NOW</button>
      </div>
      <div class="product">
        <div class="wrapper">
          <img src="../../../assets/images/Cuisson .jpg">
        </div>
        <div class="sub-title">Categorie Name</div>
        <div class="price">Product Name</div>
        <button>Rent NOW</button>
      </div>
      <div class="product">
        <div class="wrapper">
          <img src="../../../assets/images/Elévateur .jpg">
        </div>
        <div class="sub-title">Categorie Name</div>
        <div class="price">Product Name</div>
        <button>Rent NOW</button>
      </div>
    </div>
  </div>

  <div class="trent-offers">
    <div class="head">
      <div class="line">
        <hr class="hr">
      </div>
      <div class="title">
        <h2>On Trend</h2>
      </div>
      <div class="line">
        <hr class="hr">
      </div>
    </div>
    <div class="offers">
      <div class="product">
        <div class="wrapper">
          <img src="../../../assets/images/Laser .jpg">
        </div>
        <button>RENT NOW</button>
      </div>
      <div class="product">
        <div class="wrapper">
          <img src="../../../assets/images/Marteau-piqueur.jpg">
        </div>
        <button>RENT NOW</button>
      </div>
      <div class="product">
        <div class="wrapper">
          <img src="../../../assets/images/Ponceuse .jpg">
        </div>
        <button>RENT NOW</button>
      </div>
      <div class="product">
        <div class="wrapper">
          <img src="../../../assets/images/Taille-haie .jpg">
        </div>
        <button>RENT NOW</button>
      </div>
    </div>
  </div>

  <div class="shipping">
    <div class="head">
      <div class="line">
        <hr class="hr">
      </div>
      <div class="title">
        <h2>Renting Made Easy</h2>
      </div>
      <div class="line">
        <hr class="hr">
      </div>
    </div>
    <div class="shipping-box">
      <div class="element">More Than<br> +300 Products<br> For Rent</div>
      <div class="element">1 Week<br> Money Return</div>
      <div class="element">Rent<br>Now!</div>
    </div>
  </div>
</div>

<div class="subscribe">
  <div class="main-wrapper">
    <div class="subscribe-box">
      <div class="title">
        Subscribe now & get 20% off your first Rent!
      </div>
      <div class="join">
        <input type="text" placeholder="Enter your email" [(ngModel)]="inputModel">
        <button>Join</button>
      </div>
    </div>
  </div>
</div>
