$grid: 8px;

$textColor: #333434;
$themeBackground: #6936fb;
$primaryColor: #61c5ea;
$primaryColor2: #6DEDF6;

$whiteSmokeColor: #F5F5F5;
$satinColor:#ECE8DF;
$mercuryColor: #e1e1e1;
$stormGreyColor: #7b7d8b;
$charcoalColor: #3d4044;
